<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>

<main class="container">
  <img src="/images/myimage.jpg" alt=myimage width="450" height="235" style="float:right;" id="myimage">
  <br><h1><%= title %></h1><br>
  <p>Hello! My name is Ka Ying Leung. I'm from Hong Kong.
  <br>This is my third semester of the 2-year software engineering diploma in Centennial College.
  </p><br>

  <a href="/documents/resume.pdf" class="btn btn-primary">My Resume</a>

    <hr width="100%" color=grey size="3"><br>
    <div><h2>Learn More About Me</h2>
        I am a passionate and dedicated IT developer. 
        With a strong background in programming, I seek to develop innovative solutions and offer great results. 
        I am constantly seeking opportunities to expand my skills and knowledge to stay at the forefront of industry trends. 
        My commitment to quality and attention to detail motivate me to consistently outperform expectations. 
        I believe in the power of collaboration and enjoy working with diverse teams to tackle complex challenges.
        <br><br>
    </div>
    
    <div><h2>Personal Interests</h2>
        <ul>
        <li>Watching movies</li>
        <li>Hiking</li>
        <li>Walking</li>
        <li>Swimming</li>
        <li>Playing jigsaw puzzles</li>
        <br><br><br>
        </ul>
      </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>